:root {
}

.navbar {
    background-color: #F9DF84;
    font-family: 'Comic Sans MS';
}

.navbar-brand {
    color: black;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

footer {
    background: #001219;
    padding: 20px;
    color: white;
    margin-top: auto;
}
